ES_URL=https://elasticsearch-data.es-cluster:9200
ES_AUTH_HEADER=Basic <base64-encoded user:pass>
# or use ES_USER + ES_PASS instead of ES_AUTH_HEADER
# ES_USER=
# ES_PASS=
OUTPUT_DIR=output

JUPYTER_BASE=https://<host>/jupyter/user/<username>
JUPYTER_TOKEN=<jupyterhub_api_token>
JUPYTER_REMOTE_ROOT=<path/to/DST/relative/to/jupyter/home>
